
\documentclass[11pt]{article}
\usepackage[margin=1in]{geometry}

%packages
\usepackage{graphicx}
\usepackage{hyperref}
\usepackage{amssymb}

\begin{document}

\title{\textbf{ {{title}} }}
\author{ {{author}} }
\maketitle

{{body}}

\end{document}